@import url("./varibles.css");
@import url("./font.css");
@import url("./normalize.css");

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

a {
    display: inline-block;
    text-decoration: none;
}

img {
    object-fit: cover;
    display: flex;
    cursor: pointer;
}

ul,
ol {
    list-style: none;
}

body {
    height: 100px;
    display: flex;
    flex-direction: column;
    font-family: var(--font-primary);
    transition: 0.3s;
}

main {
    flex-grow: 1;
}

h1 {
    margin: 0;
}

.container {
width: 100%;
max-width: 1540px;
margin-left: auto;
margin-right: auto;
padding-left: 50px;
padding-right: 50px;
}

.btn {
    width: 232px;
    height: 56px;
    border-radius: 28px;
    padding: 14px 44px 14px 44px;
    font-weight: var(--font-weight-bold);
    font-size: 16px;
    line-height: var(--line-height-body);
}

.btn-black {
    background-color: var(--color-black);
    color: var(--color-white);

    &:hover {
        background-color:var(--color-purple);
        border:var(--color-purple);
    }
}

.btn-red {
    background-color: var(--color-red);
    color: var(--color-white);
    border: var(--color-red);

    &:hover {
        background-color:var(--color-orange);
        border:var(--color-orange);
    }
}

.btn-arrow1 {
    width: 64px;
    height: 64px;
    padding: 24px 25px 24px 25px;
    border-radius: 50%;
}

.btn-arrow-black1 {
    background-color:var(--color-black);
    color:var(--color-white);

    &:hover {
        background-color:var(--color-purple);
        border:var(--color-purple);
    }
}

.btn-arrow2 {
    width: 64px;
    height: 64px;
    padding: 24px 25px 24px 25px;
    border-radius: 50%;
}

.btn-arrow-black2 {
    background-color:var(--color-black);
    color:var(--color-white);

    &:hover {
        background-color:var(--color-purple);
        border:var(--color-purple);
    }
}

