@import url("./global.css");

/* Header */

.header {
    margin-left: 165px;
    margin-right: 165px;
    margin-top: 34px;
    margin-bottom: 33px;
}

.header__container {
    display: flex;
    justify-content: space-between;
}

@media screen and (max) {
    
}


.hero {
    margin-top: 33px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.hero-title {
   margin-bottom: 23px;
   font-weight: var(--font-weight-bold);
   font-size: var(--font-size-heading-l);
   line-height: 100%;
   color: var(--color-black);
}
.hero-subtitle {
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-body);
    line-height: var(--line-height-body);
    width: 730px;
    color: var(--color-gray);
    margin-left: auto;
    margin-right: auto;
}

.services__container {
    display: flex;
    margin-top: 40px;
    margin-bottom: 68px;
    gap: 24px;
}

.service-card {
    display: flex;
    border-radius: 8px;
    color:var(--color-white);
    font-size: 24px;
    line-height: 100%;
    padding: 24px;
    font-weight: var(--font-weight-bold);
    align-items: flex-end;
    background-repeat: no-repeat;
    background-position: top 24px right 24px;
}

.graphic-design {
    width: 354px;
    height: 388px;
    background-color: var(--color-purple);
    background-image: url("../images/pattern-graphic-design.svg");
}

.uiux {
    width: 164px;
    height: 182px;
    background-color: var(--color-orange);
    background-image: url("../images/pattern-ui-ux.svg");
}
.apps {
    width: 164px;
    height: 182px;
    background-color: var(--color-pink);
    background-image: url("../images/pattern-apps.svg");
}
.photography {
    width: 354px;
    height: 182px;
    background-color: var(--color-teal);
    background-image: url("../images/pattern-photography.svg");
}

.illustrations {
    width: 354px;
    height: 182px;
    background-color: var(--color-red);
    background-image: url("../images/pattern-illustrations.svg");
}
.motion-graphics {
    width: 354px;
    height: 182px;
    background-color: var(--color-purple-dark);
    background-image: url("../images/pattern-motion-graphics.svg");
}

.services-grid-top {
    display: flex;
    gap: 24px;
}

.services-grid-buttom {
    display:flex;
    gap: 24px;
}

.services__grid {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

  /*  About section  */

.about__container {
    display: flex;
    gap: 125px;
    margin-bottom: 44px;
}

.profile-image {
    background-image: url("../images/image.jpg");
    background-repeat: no-repeat;
    margin-left: 165px;
    width: 445px;
    height: 445px;
    border-radius: 50%;
    background-size: cover;
}
.about {
    width: 540px;
    height: 306px;
    margin-top: 68px;
    margin-right: 165px;
}

.about__title {
    color: var(--color-black);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-heading-m);
    line-height: 100%;
}

.about__text {
    color: var(--color-gray);
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-body);
    line-height: var(--line-height-body);
    margin-top: 34px;
    margin-bottom: 32px;
}

/*  Portfolio / My Work  */

.portfolio__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio__title {
    color: var(--color-black);
    font-family: var(--font-primary);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-heading-s);
    line-height: 100%;
    margin-top: 44px;
    margin-bottom: 28px;
}

.portfolio-images__wrapper::-webkit-scrollbar {
    opacity: 0;
}

.portfolio-images__wrapper {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    height: 360px;
    gap: 30px;
    overflow-y: hidden;
    width: 100%;
    margin-top: 28px;
    margin-bottom: 28px;
}

.portfolio-image__item {
    width: 540px;
    height: 720px;
}

.image__item {
  background-size: cover;
}

.btn__arrows {
    margin-top: 28px;
    margin-bottom: 44px;
}

/*   Call to Action   */

.cta-section {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--color-black);
    border-radius: 10px;
    width: 1110px;
    height: 320px;
    margin-top: 44px;
    gap: 182px;
    margin-bottom: 28px;
}

.cta__title {
    color: var(--color-white);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-heading-m);
    line-height: 100%;
    margin-bottom: 13px;
}

.cta__text {
    color: var(--color-white);
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-body);
    line-height: 28px;
    margin-top: 12px;
    width: 540px;
}

.cta__container {
   display: flex;
   flex-direction: column;
   padding-left: 65px;
   padding-top: 81px;
   padding-bottom: 80px;
}

.cta__btn {
    padding-right: 95px;
    padding-top: 132px;
    padding-bottom: 132px;
}

/*   Footer   */

.footer {
    margin-left: 165px;
    margin-right: 165px;
    margin-top: 28px;
    margin-bottom: 33px;
}

.footer__container {
    display: flex;
    justify-content: space-between;
}

  